body {
    font-family: "Arial", "Meiryo", sans-serif;
}

html {
    font-size: 20px;
    text-align: center;
}

.blue {
    color: skyblue;
}

.pink {
    color: rgb(255, 192, 203);
}

h1 {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}

#basic p {
    font-weight: bold;
}